@import '~antd/dist/antd.less';

* {
  margin: 0;
  padding: 0;
}
@blue-color :rgb(33, 116, 194);
@size130px : 130px;

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(223, 250, 255);
  overflow: hidden;
}

.content{
  width: 50%;
  background: rgb(255, 255, 255);
  height: 450px;
  box-shadow: 0px 0px 8px  @blue-color;
  min-width: 310px;
  max-width: 500px;
}

.header {
  height: 50px;
  background: @blue-color;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  color: white;
}
.header__back {
  padding-left: 10px;
}

.arrow_back{
  cursor: pointer;
}
.arrow_back:hover {
  box-shadow: 1px 1px 1px solid salmon;
}

.content__block {
  padding: 30px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.content__block__subtitle {
  font-size: 18px;
  padding-bottom: 6px;
}

.select{
  font-size: 16px;
}
.radio-group {
  display: flex;
  justify-content: space-between;
}
.radio-btn {
/*   width: @size130px; */
  text-align: center;
  font-size: 18px;
}

.btn-submit{
  background: rgb(50, 223, 50);
  border: none;
  display: block;
  margin: 0 auto;
  width: @size130px;
  height: 35px;
  font-size: 20px;
  padding: 0;
  border-radius: 5px;
}


.btn-submit:hover{
  background: rgb(89, 245, 22);
  border: none;
}

.slider {
  width: 50%;
}


//DLINA
.content__info {
  background: rgb(255, 250, 183);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__block_easy {
 
  display: flex;
  flex-direction: column;
  height: 78%;
}
.content__block_easy_value {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.randomUnit {
  display: flex;
}
.inputValue {
  width: 150px;
  box-sizing: border-box;
  padding: 0;
  margin: 0px 10px;
}
/* body{
  background: rgb(81, 191, 225);
  width: 100vw;

}
.container {
  background: white;
  width: 40%;
margin: 0 auto;
  height: auto;
  border-top-right-radius: 7px ;
  border-top-left-radius: 7px ;
  height: 500px;
}

.select {
  width: 50%;
  margin: 10px 20px;
 }

.header{
  background: rgb(28, 109, 247);
  padding: 20px;
  color: white;
  font-size: 16px;
  border-top-right-radius: 7px ;
  border-top-left-radius: 7px ;
  
}

.subtitle {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;

}
.radio-group {
  margin: 20px;
}
.btn-submit {
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  display: block;
 font-size: 20px;
  background:  rgb(29, 221, 55);
  border: none;
}
.btn-submit:hover {
  background: rgba(26, 216, 26, 0.512);
  border: none;
  color: white;
}

.slider{
  padding: 20px 20px 20px 0px;
  margin: 0 auto;
  width: 90%;
}

.inputValue {
  width: 50px;
  margin: 5px 0px;
}

.center {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}
.content_box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.column_number {
  display: flex;
  margin: 10px;
}

.arrow-back {
  cursor: pointer;
 padding-right: 20px;
}
.btn-check {
  margin: 20px auto;
}

.level-box {
  display: flex;
  flex-direction: column;
  align-items: center;
} */